<footer class="footer footer-big">
    <!-- .footer-black is another class for the footer, for the transparent version, we recommend you to change the url of the image with your favourite image.          -->

    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <select name="huge" class="selectpicker" data-style="btn-default btn-block" data-menu-style="dropdown-blue">

                        <option value="id">Bahasa Indonesia</option>
                        <option value="ms">Bahasa Melayu</option>
                        <option value="ca">Català</option>
                        <option value="da">Dansk</option>
                        <option value="de">Deutsch</option>
                        <option value="en" selected="">English</option>
                        <option value="es">Español</option>
                        <option value="el">Eλληνικά</option>
                        <option value="fr">Français</option>
                        <option value="it">Italiano</option>
                        <option value="hu">Magyar</option>
                        <option value="nl">Nederlands</option>
                        <option value="no">Norsk</option>
                        <option value="pl">Polski</option>
                        <option value="pt">Português</option>
                        <option value="fi">Suomi</option>
                        <option value="sv">Svenska</option>
                        <option value="tr">Türkçe</option>
                        <option value="is">Íslenska</option>
                        <option value="cs">Čeština</option>
                        <option value="ru">Русский</option>
                        <option value="th">ภาษาไทย</option>
                        <option value="zh">中文 (简体)</option>
                        <option value="zh-TW">中文 (繁體)</option>
                        <option value="ja">日本語</option>
                        <option value="ko">한국어</option>
                    </select>
                </div>
                <div class="form-group">
                    <select name="huge" class="selectpicker" data-style="btn-default btn-block" data-menu-style="dropdown-blue">
                        <option value="ARS">ARS</option>
                        <option value="AUD">AUD</option>
                        <option value="BRL">BRL</option>
                        <option value="CAD">CAD</option>
                        <option value="CHF">CHF</option>
                        <option value="CNY">CNY</option>
                        <option value="CZK">CZK</option>
                        <option value="DKK">DKK</option>
                        <option value="EUR">EUR</option>
                        <option value="GBP">GBP</option>
                        <option value="HKD">HKD</option>
                        <option value="HUF">HUF</option>
                        <option value="IDR">IDR</option>
                        <option value="ILS">ILS</option>
                        <option value="INR">INR</option>
                        <option value="JPY">JPY</option>
                        <option value="KRW">KRW</option>
                        <option value="MYR">MYR</option>
                        <option value="MXN">MXN</option>
                        <option value="NOK">NOK</option>
                        <option value="NZD">NZD</option>
                        <option value="PHP">PHP</option>
                        <option value="PLN">PLN</option>
                        <option value="RUB">RUB</option>
                        <option value="SEK">SEK</option>
                        <option value="SGD">SGD</option>
                        <option value="TWD">TWD</option>
                        <option value="USD" selected="">USD</option>
                        <option value="VND">VND</option>
                        <option value="ZAR">ZAR</option>

                    </select>
                </div>

            </div>
            <div class="col-md-3 col-md-offset-1">
                <h5 class="title">Company</h5>
                <nav>
                    <ul>
                        <li>
                            <a href="#">
                                        Home
                                    </a>
                        </li>
                        <li>
                            <a href="#">
                                       Find offers
                                    </a>
                        </li>
                        <li>
                            <a href="#">
                                        Discover
                                    </a>
                        </li>
                        <li>
                            <a href="#">
                                        Portfolio
                                    </a>
                        </li>
                        <li>
                            <a href="#">
                                       Our news
                                    </a>
                        </li>
                        <li>
                            <a href="#">
                                       About Us
                                    </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-3">
                <h5 class="title"> Help and Support</h5>
                <nav>
                    <ul>
                        <li>
                            <a href="#">
                                       Contact Us
                                    </a>
                        </li>
                        <li>
                            <a href="#">
                                       How it works
                                    </a>
                        </li>
                        <li>
                            <a href="#">
                                        Terms & Conditions
                                    </a>
                        </li>
                        <li>
                            <a href="#">
                                        Company Policy
                                    </a>
                        </li>
                        <li>
                            <a href="#">
                                       Money Back
                                    </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-3">
                <h5 class="title">Follow us on</h5>
                <nav>
                    <ul>
                        <li>
                            <a href="#" class="btn btn-social btn-facebook btn-simple">
                                <i class="fa fa-facebook-square"></i> Facebook
                            </a>
                        </li>
                        <li>
                            <a href="#" class="btn btn-social btn-dribbble btn-simple">
                                <i class="fa fa-dribbble"></i> Dribbble
                            </a>
                        </li>
                        <li>
                            <a href="#" class="btn btn-social btn-twitter btn-simple">
                                <i class="fa fa-twitter"></i> Twitter
                            </a>
                        </li>
                        <li>
                            <a href="#" class="btn btn-social btn-reddit btn-simple">
                                <i class="fa fa-google-plus-square"></i> Google+
                            </a>
                        </li>

                    </ul>
                </nav>
            </div>
        </div>
        <hr />
        <div class="copyright">
            &copy; 2016 Creative Tim, made with love
        </div>
    </div>
</footer>
