{% extends "base.html" %}
{% load staticfiles i18n %}
{% block modal %}
<body class="product-page">
  <div id="navbar">

    <nav class="navbar navbar-default" role="navigation">

      <div class="container-fluid">

        <div class="navbar-header">

          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">

            <span class="sr-only">Toggle navigation</span>

            <span class="icon-bar"></span>

            <span class="icon-bar"></span>

            <span class="icon-bar"></span>

          </button>

          <a class="navbar-brand" href="{% url 'home' %}"><img src="https://s3-eu-west-1.amazonaws.com/progressivesafety/Logo.png" alt="PROGRESSIVE SAFETY"></a>

        </div>


        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

          <ul class="nav navbar-nav navbar-right">

            <li class="active"><a href="{% url 'product' %}">Produkter</a></li>

            <button class="btn btn-default"><a href="{% url 'contact' %}">Kontakt</a></button>


          <!--  <li class="dropdown">

              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>

              <ul class="dropdown-menu">

                <li><a href="#">Action</a></li>

                <li><a href="#">Another action</a></li>

                <li><a href="#">Something else here</a></li>

                <li class="divider"></li>

                <li><a href="#">Separated link</a></li>

                <li class="divider"></li>

                <li><a href="#">One more separated link</a></li>

              </ul>

            </li> -->

          </ul>

        </div><!-- /.navbar-collapse -->

      </div><!-- /.container-fluid -->

    </nav>

  </div><!--  end navbar -->
<div class="wrapper">
    <div class="section">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
               <div class="tab-content">
                    <div class="tab-pane active" id="product-page1">
                        <img src="https://s3-eu-west-1.amazonaws.com/progressivesafety/skumslackare.png" alt="..."/>
                      </div>
                </div>
                <ul class="nav nav-text" role="tablist" id="flexiselDemo1">

                </ul>
                <div class="clearfix"></div>
            </div>

            <div class="col-md-6">
                <div class="product-details">
                  <a href="#">
                      <h3 class="title">BRANDSLÄCKARVAGN</h3>
                  </a>
                  <p class="description">
                    EASYEXTINGUISH
                  </p>

                </div>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          Produkt Beskrivning
                        </a>
                      </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                      <div class="panel-body">
                        EasyExtinguish brandsläckarvagn kompletterar den vanliga brandsläckaren och gör det möjligt även för exempelvis äldre, barn och personer med funktionshinder att ingripa vid en eventuell brand. Förutom de praktiska fördelarna, ger produkten en skön trygghetskänsla för dessa personer med vetskapen att även de kan rädda liv.

Brandsläckaren ställs på vagnen och spänns fast med ett kraftigt justerband, därefter monteras den på väggen.

Tack vare den smarta väggupphängningen kan den med minimal kraft tas ner från väggen. Vagnen knäpps enkelt upp varpå vagn och släckare med hävstångseffekt rör sig ner till golvet. Därefter kan man rulla brandsläckaren framför eller bakom sig till den plats där den behövs.
Vagnen är försedd med fyra stycken lättrullade gummihjul som tål tuffa tag. De rullar enkelt över allt från klinkergolv till heltäckningsmattor. Vagnen passar olika släckartyper och modeller tack vare att infästningen i vagnen är universell.


                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                      <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          Storlek & Mått
                        </a>
                      </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                      <div class="panel-body">
                        <ul style="padding-left: 20px;">
                            <li style="list-style-position: outside;"> 	Vikt (exkl. brandsläckare) 3,3 kg</li>
                            <li style="list-style-position: outside;"> Model mått: Höjd	72 cm/ Bredd 19 cm / Djup	19 cm</li>

                        </ul>
                      </div>
                    </div>
                  </div>
                <!--  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                      <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          Detaljer
                        </a>
                      </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                      <div class="panel-body">
                        85% wool, 15% linen. Dry-clean only
                      </div>
                    </div>
                  </div>
                   <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingFour">
                      <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                         Delivery & Return
                        </a>
                      </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                      <div class="panel-body">
                        Find out more about our delivery options
                        Please try items in the comfort of your own home. If you don't like them, or they don't fit, we'll happily collect them from your home or office for free.
                      </div>
                    </div>
                  </div>
                </div> -->
            </div>
          </div>

        <!--  <div class="row">
            <div class="col-md-6 col-md-offset-6">
              <div class="actions">
                <div class="pull-left">
                  <div class="form-group">
                        <select name="huge" class="selectpicker" data-style="btn" data-menu-style="dropdown-blue">
                          <option value="en" selected="">Select SIze</option>
                          <option value="id">XS</option>
                          <option value="ms">S</option>
                          <option value="ca">M</option>
                          <option value="ca">L</option>
                          <option value="ca">XL</option>
                          <option value="ca">XXL</option>
                        </select>
                    </div>
                </div> -->
                <div class="pull-right">
                  <button class="btn btn-danger btn-simple btn-hover" rel="tooltip" title="" data-placement="left" data-original-title="Add to wishlist">

                  </button>
                  <button type="button" class="btn btn-fill">Kontakta oss</button>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
<!--
    <div class="section ">
    	<div class="container container-border">
        	<div class="title">
        		<h4>Related Products</h4>
        		<p>Take a look, we think they would be great togheter</p>
        	</div>
          	<div class="row">
                <div class="col-md-4">
                    <div class="card card-product card-plain">
                        <div class="image">
                            <a href="#">
                                <img src="{% static 'img/product.jpg' %}" alt="..."/>
                            </a>
                        </div>
                        <div class="content">
                            <a href="#">
                                <h4 class="title">Lutwyche</h4>
                            </a>
                            <p class="description">
                               Blue check wool and cashmere-blend blazer
                            </p>
                            <div class="footer">
                                <span class="price"> € 3,330</span>
                                <button class="btn btn-danger btn-simple btn-hover pull-right" rel="tooltip" title="" data-placement="left" data-original-title="Add to wishlist">
                                    <i class="fa fa-heart-o"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-product card-plain">
                        <div class="image">
                            <a href="#">
                                <img src="{% static 'img/product.jpg' %}" alt="..."/>
                            </a>
                        </div>
                        <div class="content">
                            <a href="#">
                                <h4 class="title">Lutwyche</h4>
                            </a>
                            <p class="description">
                               Blue check wool and cashmere-blend blazer
                            </p>
                            <div class="footer">
                                <span class="price"> € 3,330</span>
                                <button class="btn btn-danger btn-simple  pull-right" rel="tooltip" title="" data-placement="left" data-original-title="Remove from wishlist">
                                    <i class="fa fa-heart"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                 </div>

                 <div class="col-md-4">
                    <div class="card card-product card-plain">
                        <div class="image">
                            <a href="#">
                                <img src="{% static 'img/product.jpg' %}" alt="..."/>
                            </a>
                        </div>
                        <div class="content">
                            <a href="#">
                                <h4 class="title">Lutwyche</h4>
                            </a>
                            <p class="description">
                               Blue check wool and cashmere-blend blazer
                            </p>
                            <div class="footer">
                                <span class="price"> € 3,330</span>
                                <button class="btn btn-danger btn-simple btn-hover pull-right" rel="tooltip" title="" data-placement="left" data-original-title="Add to wishlist">
                                    <i class="fa fa-heart-o"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                     -->
                 </div>
            </div> <!-- end row -->
      	</div>
    </div>

    <!--
    <div class="section">
    	<div class="container container-border">
			<div class="title">
        		<h4>Viewed Products</h4>
            	<p>These are your recently viewed products</p>
        	</div>
        	<ul class="row" id="flexiselDemo2">
            	<li class="col-md-2">
                    <div class="card card-product card-plain">
                        <div class="image">
                            <a href="#">
                                <img src="{% static 'img/product.jpg' %}" alt="..."/>
                            </a>
                        </div>
                        <div class="content">
                            <a href="#">
                                <h4 class="title">Lutwyche</h4>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="col-md-2">
                    <div class="card card-product card-plain">
                        <div class="image">
                            <a href="#">
                                <img src="{% static 'img/product.jpg' %}" alt="..."/>
                            </a>
                        </div>
                        <div class="content">
                            <a href="#">
                                <h4 class="title">Canali</h4>
                            </a>
                        </div>
                    </div>
                </li>
				<li class="col-md-2">
				    <div class="card card-product card-plain">
				        <div class="image">
				            <a href="#">
				                <img src="{% static 'img/product.jpg' %}" alt="..."/>
				            </a>
				        </div>
				        <div class="content">
				            <a href="#">
				                <h4 class="title">Lutwyche</h4>
				            </a>
				        </div>
				    </div>
				</li>
				<li class="col-md-2">
				    <div class="card card-product card-plain">
				        <div class="image">
				            <a href="#">
				                <img src="{% static 'img/product.jpg' %}" alt="..."/>
				            </a>
				        </div>
				        <div class="content">
				            <a href="#">
				                <h4 class="title">Lutwyche</h4>
				            </a>
				        </div>
				    </div>
				</li>

				<li class="col-md-2">
				    <div class="card card-product card-plain">
				        <div class="image">
				            <a href="#">
				                <img src="{% static 'img/product.jpg' %}" alt="..."/>
				            </a>
				        </div>
				        <div class="content">
				            <a href="#">
				                <h4 class="title">Lutwyche</h4>
				            </a>
				        </div>
				    </div>
				</li>

				<li class="col-md-2">
				     <div class="card card-product card-plain">
				        <div class="image">
				            <a href="#">
				                <img src="{% static 'img/product.jpg' %}" alt="..."/>
				            </a>
				        </div>
				        <div class="content">
				            <a href="#">
				                <h4 class="title">Lutwyche</h4>
				            </a>
				       </div>
				    </div>
          -->
				</li>
			</ul>
		</div>
    </div>
    <footer class="footer footer-big">
        <!-- .footer-black is another class for the footer, for the transparent version, we recommend you to change the url of the image with your favourite image.          -->

        <div class="container">
            <div class="row">
                <div class="col-md-4">
                  <h5 class="title">AFFÄRSIDÉ</h5>
                  <p>
                              Progressive Safety är ett svenskt bolag som utvecklar livsavgörande hjälpmedel inom området brandsäkerhet.
                          </p>

                </div>
                <div class="col-md-3 col-md-offset-1">
                    <h5 class="title">MER</h5>
                    <nav>
                        <ul>
                            <li>
                                <a href="{% url 'home' %}">
                                            Hem
                                        </a>
                            </li>
                            <li>
                                <a href="{% url 'about' %}">
                                           Om Oss
                                        </a>
                            </li>
                            <li>
                                <a href="{% url 'press' %}">
                                            Våra Nyheter
                                        </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-3">
                    <h5 class="title"> KONTAKTA OSS</h5>
                    <nav>
                        <ul>
                            <li>
                              <button class="btn btn-default"><a href="{% url 'contact' %}">Kontakta oss</a></button>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <hr />
            <div class="copyright">
                &copy; 2016 Progressivesafety
            </div>
        </div>
    </footer>
</div> <!-- wrapper -->
</body>
{% endblock modal %}
